<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first application</title>

    <link rel="stylesheet" href="../css/colors-fonts.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/table.css" />

</head>
<body>
        <div class="GridItemMain">

            <div class="tableFluid">

                <div class="theadFluid">
                  <div class="trFluid">
                    <div class="trFluid_Grouping2">
                      <div class="trFluid_Grouping1">
                        <div class="tdFluent">Book title</div>
                      </div>
                      <div class="trFluid_Grouping1">
                        <div class="tdFluent">Author</div>
                        <div class="tdFluent">Year published</div>
                        <div class="tdFluent">Million copies sold</div>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="tbodyFluid">
                  <div class="trFluid">
                    <div class="trFluid_Grouping2">
                      <div class="trFluid_Grouping1">
                        <div class="tdFluent">A Tale of Two Cities</div>
                      </div>
                      <div class="trFluid_Grouping1">
                        <div class="tdFluent">Charles Dickens</div>
                        <div class="tdFluent">1859</div>
                        <div class="tdFluent">200</div>
                      </div>
                    </div>
                  </div>
                  <div class="trFluid">
                    <div class="trFluid_Grouping2">
                      <div class="trFluid_Grouping1">
                        <div class="tdFluent">And Then There Were None</div>
                      </div>
                      <div class="trFluid_Grouping1">
                        <div class="tdFluent">Agatha Christie</div>
                        <div class="tdFluent">1939</div>
                        <div class="tdFluent">100</div>
                      </div>
                    </div>
                  </div>
                  <div class="trFluid">
                    <div class="trFluid_Grouping2">
                      <div class="trFluid_Grouping1">
                        <div class="tdFluent">Dream of the Red Chamber</div>
                      </div>
                      <div class="trFluid_Grouping1">
                        <div class="tdFluent">Cao Xueqin</div>
                        <div class="tdFluent">1791</div>
                        <div class="tdFluent">100</div>
                      </div>
                  </div>
                </div>
          
              </div>     
            </div>
        </div>
</body>
</html>